// place your custom styles here
.vp-navbar .vp-nav-links,
.dropdown-wrapper .dropdown-subtitle,
.dropdown-wrapper .nav-link {
    font-size: 0.95rem;
}
.dropdown-wrapper .dropdown-subtitle {
    text-transform: none;
    color: var(--dark-grey);
}
.home .vp-page-title {
    display: none;
}
.home .theme-hope-content {
    max-width: var(--home-page-width);
}
.home .home-components {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.home .el-divider {
    margin: 40px;
}
.home .el-divider + .el-text {
    margin-bottom: 30px;
    font-size: 25px;
    + .el-row {
        width: 100%;
    }
}

