// you can change colors here
$theme-color: #096dd9;
$font-family: "'Microsoft YaHei', 'DejaVu Sans', 'Helvetica', 'Noto Sans SC', sans-serif";
$font-family-heading: "'Microsoft YaHei', 'DejaVu Sans', 'Helvetica', 'Noto Sans SC', sans-serif";
